<%= simple_form_for([@topic, @comment]) do |f| %>
    <%= f.input :body, input_html: { class: 'textarea'}, wrapper: false, label_html: { class: 'label' } %>
    <p>	
    <%= f.button :submit, 'Update Comment' %>
    </p>
<% end %>
